{% extends '::base.html.twig' %}

{% block body %}
    <a href="{{path('root')}}">[Go to frontpage]</a><br/>
    <form method="post">
        <label for="post">Enter new post:</label><br />
        <textarea id="post" name="post" cols="30" rows="8"></textarea><br />
        <button type="submit">Save</button>
    </form>
    <hr />
    {% for post in posts %}
        {{post.text}}
        <br /><hr />
    {% endfor %}
{% endblock %}